<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"   />

</head>
<body style="background-color:yellow">
<div class="container-fluid text-center">
    <h1 style="color:black">Welcome to my Epam's Application :)</h1>
    <a class="h2" th:href="@{/users}"> Click to Manage Users</a>
</div>
</body>
</html>